/target
/.idea
/data/trip_fare_1.csv
/data/trip_fare_2.csv
/data/trip_fare_3.csv
/data/trip_fare_4.csv
/data/trip_fare_5.csv
/data/trip_fare_6.csv
/data/trip_fare_7.csv
/data/trip_fare_8.csv
/data/trip_fare_9.csv
/data/trip_fare_10.csv
/data/trip_fare_11.csv
/data/trip_fare_12.csv
/data/trip_data_12.csv
/data/trip_data_11.csv
/data/trip_data_10.csv
/data/trip_data_9.csv
/data/trip_data_8.csv
/data/trip_data_7.csv
/data/trip_data_5.csv
/data/trip_data_6.csv
/data/trip_data_4.csv
/data/trip_data_3.csv
/data/trip_data_2.csv
/data/trip_data_1.csv
